@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #050505;
    color: #e0e0e0;
    overflow-x: hidden;
  }
}

@layer utilities {
  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 8px;
    background: #111;
  }
  ::-webkit-scrollbar-thumb {
    background: #FCEE0A;
  }
  
  .cyber-clip-path {
    clip-path: polygon(
      0 0, 
      100% 0, 
      100% calc(100% - 15px), 
      calc(100% - 15px) 100%, 
      0 100%
    );
  }

  .cyber-glitch-effect::before,
  .cyber-glitch-effect::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0a0a0a;
  }
  .cyber-glitch-effect::before {
    left: 2px;
    text-shadow: -1px 0 #ff003c;
    clip-path: inset(0 0 0 0);
    animation: glitch-anim-1 2s infinite linear alternate-reverse;
  }
  .cyber-glitch-effect::after {
    left: -2px;
    text-shadow: -1px 0 #00f0ff;
    clip-path: inset(0 0 0 0);
    animation: glitch-anim-2 3s infinite linear alternate-reverse;
  }
}